jdbc {
  url = "jdbc:postgresql://localhost:5432/politach"
  username = "postgres"
  password = ""
  connectionPool = "HikariCP"
  keepAliveConnection = true
}

politach {
  rest-api {
    interface = "0.0.0.0"
    port = 8080
  }
}
